* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Lucida Sans", sans-serif;
    color: orange;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 1170px;
}

.fnBtn {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    font-size: 40px;
    padding: 10px 15px;
    margin: 0px 30px 50px 30px;
    background-color: transparent;
    letter-spacing: 2px;
    opacity: 0.2;
    transition: opacity 100ms;
}

.fnBtn:hover {
    opacity: 1;
}

.active {
    opacity: 1 !important;
}

#valueDisplay {
    font-size: 20px;
    float: left;
    width: 200px;
}

#controls {
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 30px;
}

#controls i {
    cursor: pointer;
    opacity: 0.2;
    margin: 0px 5px;
    transition: opacity 100ms;
}

#controls i:hover {
    opacity: 1;
}
